html {
  color-scheme: dark;
}

body {
  width: 400px;
  height: 500px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;

  background-color: #222;
  color: #fff;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

.tab-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.tab-item:hover {
  background-color: #444;
}

.tab-item img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.tab-item .title {
  flex: 1;
  margin-right: 10px;
}

.tab-item .close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.title {
  margin-left: 8px;
  flex-grow: 1;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
}

.close-button:hover {
  color: #f00;
}

.group-header {
  padding: 8px;
  font-weight: bold;
  background-color: #444;
  border-bottom: 1px solid #333;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #666;
}